{% macro render_card_content(card) %}
  <div class="card" data-bg-image="{{ card.bg_image }}">
    <div class="card-info text-sm text-center text-balance">
      <h2 class="text-4xl font-heading font-bold mb-5">{{ card.title }}</h2>
      <p>{{ card.content }}</p>
    </div>
  </div>
{% endmacro %}

{% if card.link.url %}
  <a href="{{ card.link.url }}" {% if card.link.opensInNewTab %}target="_blank" rel="noopener noreferrer"{% endif %} class="card-link">
    {{ _self.render_card_content(card) }}
  </a>
{% else %}
  {{ _self.render_card_content(card) }}
{% endif %}